.landing-wrapper {
  background-color: $white;
  @include paragraph-font;
  @include display-flex;

  h1 {
    @include header-font()
    text-align: center;
    margin: 0 0 1em 0;
  }

  h2 {
    margin: 0 0 1em 0;
    text-decoration: underline;
    font-size: 1em;
  }

  h4 {
    margin: 0;
    width: 80vw;
  }

  button {
    @include button;
    margin-top: .2em;
  }

  .info-wrapper {
    @include basic-border;
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: 33vh;
    margin-bottom: 2em;
    width: 85vw;
  }

  .address {
    margin-bottom: .5em;
  }

  .about {
    word-wrap: normal;
  }

  .connection-name {
    margin-bottom: 1em;
  }

  .button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
}
