.form-wrapper {
  width: 90vw;
  margin-top: .8rem;

  form {
    @include display-flex;
  }

  div {
    @include display-flex;
    align-self: flex-start;
    margin-bottom: 1.5em;
  }

  input,
  textarea {
    align-self: flex-start;
    @include paragraph-font;
  }

  textarea {
    width: 100%;
    height: 20vh;
  }

  label {
    align-self: flex-start;
    margin: .5em 0 .5em 0;
  }

  .state,
  .country {
    align-self: flex-start;
  }

  .submit {
    margin-top: 2rem;
    @include button;
    @include centerHorizontally;
  }

  button {
    @include centerHorizontally;
  }

  .back {
    margin-bottom: 2rem;
  }
}
