.form-wrapper {

  form {
    @include display-flex
  }

  div {
    @include display-flex;
    align-self: flex-start;
    margin-bottom: 1.5em;
  }

  input,
  textarea {
    align-self: flex-start;
    @include paragraph-font ;
  }

  textarea {
    width: 80vw;
    height: 25vh;
  }

  label {
    align-self: flex-start;
    margin-top: .5em;
  }

  #submit {
    margin-top: 3em;
    @include button
    @include centerHorizontally
  }
}
