.preview {
  @include display-flex;
}

.front {
  border: 3px solid $ink-blue;
  margin: 2rem;
  padding: 1rem;
  width: 90%;
  position: relative;
  //fixed height

  img {
    width: 100%;
  }

  h1 {
    @include title-font;
    font-size: 3rem;
    position: fixed;
    right: 2rem;
    top: 2.6rem;
    //This needs a closer look
  }
}

.back {
  border: 3px solid $ink-blue;
  margin: 2rem;
  padding: 1rem;
  width: 90%;
  //needs fixed height

  div {
    width: 50%
  }
}
