.preview {
  @include display-flex;
}

.front {
  border: 3px solid $ink-blue;
  margin: 1rem;
  padding: 1rem;
  width: 85%;
  height: 25%;
  object-fit: cover;
  overflow: hidden;

  //having trouble ensuring that image stays within boundaries.

  img {
    width: 100%;
  }
}

.back {
  border: 3px solid $ink-blue;
  margin: 1rem;
  padding: 1rem;
  width: 85%;
  height: 250px;

  div {
    width: 50%
  }
}
