
@import '../../variables';

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $ink-blue;
    @include paragraph-font();
    background-color: $white;
    margin-top: 9rem;
}

.homepageTitle {
    font-weight: bold;
    font-size: 2rem;
}

.homepageParagraph {
    margin-top: 2rem;
}

.button {
    background-color: $ink-blue;
    @include paragraph-font();
    padding: .5rem;
    color: $white;
    border: none;
    border-radius: 8px;
    width: 50%;
    font-weight: bold;
}