
@import '../../variables';

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $ink-blue;
    @include paragraph-font();
    background-color: $white;
}

.homepageTitle {
    font-weight: bold;
    font-size: 2rem;
}

.homepageParagraph {
    padding: 1rem;
}

a, button {
    @include button()
}

.buttonContainer {
    padding: 1rem;
    @include display-flex();
    @include basic-border();
}

.paragraphText {
    font-size: 1 rem;
}

