@import '../../variables';

header {
  width: fill;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $pink;
  padding: .5rem;

  h1 {
    @include title-font;
    margin-right: 1rem;
  }
}

// NAVIGATION BAR

ul {
  list-style-type: none;
}

.menuOptions {
  position: absolute;
  top: 2.75rem;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  background-color: $white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

ul li a {
  color: $ink-blue;
  @include paragraph-font;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
}
