@import '../../variables';

header {
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  background-color: $pink;
  padding: .5rem;
}

header h1 {
  @include title-font;
  margin: 0;
}
