@import '../../_variables.scss';

.loginSection {
  width: 90vw;
  margin-top: 6rem;
  @include basic-border;
  @include display-flex;
}

.loginTitle {
  @include header-font;
  font-size: 2rem;
}

form {
  @include display-flex;
}

label {
  @include header-font;
  font-size: 1.2rem;
}

input {
  margin: .8rem;
}

.invalidLoginText {
  @include paragraph-font;
  width: 80%;
}

button {
  @include button;
}

button:active {
  background-color: rgba(0, 0, 41, .8);
  border: none;
}

.landingPage {
  margin-bottom: 1rem;
}
