@import '../../_variables.scss';

section {
  width: 90vw;
  @include basic-border;
  @include display-flex;
}

h1 {
  @include header-font;
  font-size: 2rem;
}

form {
  @include display-flex;
}

label {
  @include header-font;
  font-size: 1.2rem;
}

input {
  margin: .8rem;
}

article {
  @include paragraph-font;
  width: 80%;
}


button:active {
  background-color: rgba(0, 0, 41, .8);
  border: none;
}

.landingPage {
  margin-bottom: 1rem;
}
