@import '../../_variables.scss';

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  border: 2px solid $ink-blue;
  border-radius: 1.5rem;
  box-shadow: 10px 10px 10px $pink;
}

h1 {
  @include header-font;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  @include header-font;
  font-size: 1.2rem;
}

input {
  margin: .8rem;
}

article {
  @include paragraph-font;
  width: 80%;
}

button {
  color: $white;
  font-size: 1.3rem;
  background-color: $ink-blue;
  border: 0;
  border-radius: .5rem;
  box-shadow: none;
  padding: .8rem;
  margin: 2rem;
  width: 10rem;
}

button:active {
  background-color: rgba(0, 0, 41, .8);
  border: none;
}
