@import '../../_variables.scss';

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid $ink-blue;
  box-shadow: 3px 3px 3px $pink;
}

h1 {
  @include header-font;
  font-size: 2rem;
}

label {
  @include header-font;
  font-size: 1.2rem;
}

button {
  color: $white;
  font-size: 1.3rem;
  background-color: $ink-blue;
  border: 0;
  border-radius: .2rem;
  box-shadow: none;
  padding: .7rem;
  margin: 3rem;
  width: 10rem;
}

//add active state
