.landing-wrapper {
  background-color: $white;
  @include paragraph-font;
  @include display-flex;

  h1 {
    @include header-font()
    text-align: center;
    margin: 1rem 0 1rem 0;
  }

  h2 {
    margin: 0 0 1rem 0;
    text-decoration: underline;
    font-size: 1rem;
  }

  h4 {
    margin: 0;
    width: 80vw;
  }

  button {
    @include button;
    margin-top: .2em;
  }

  .info-wrapper {
    @include basic-border;
    @include display-flex;
    padding: 1rem;
    height: 30vh;
    margin-bottom: 2rem;
    width: 85vw;
  }

  .address {
    margin-bottom: .5rem;
  }

  .about {
    word-wrap: normal;
  }

  .connection-name {
    margin-bottom: 1rem;
  }

  .button-wrapper {
    @include display-flex;
    margin-top: auto;
  }
}
