@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lexend:wght@100&family=Tangerine:wght@700&display=swap');

$ink-blue: #000029;
$pink: #BD759D;
$white: #F9F4F0;

@mixin title-font {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
}

@mixin header-font {
  font-family: 'Lexend', sans-serif;
}

@mixin paragraph-font {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

@mixin basic-border {
  border: 2px solid $ink-blue;
  border-radius: 1.5rem;
  box-shadow: 10px 10px 10px $pink;
}

@mixin display-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin centerHorizontally {
  margin-left: 50%;
  transform: translateX(-50%);
}

@mixin button() {
  background-color: $ink-blue;
  @include paragraph-font();
  padding: .25rem;
  color: $white;
  border: none;
  border-radius: 8px;
  width: 10rem;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}
